/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/
@import '../../styles/esv/pop-over-viewer';

$editorPanelStartWidth: 750px;
$editorPanelStartWidthLargeScreen: 950px;
$editorPanelStartHeightLargeScreen: 700px;
$editorPanelStartHeight: 520px;
$editorPanelMinWidth: 400px;
$editorPanelMinHeight: 400px;
$editorPanelHeadingHeight: 25px;
$editorPanelHeadingMargin: 5px;
$editorPanelHeadingHeightTotal: $editorPanelHeadingHeight + 2 *
  $editorPanelHeadingMargin;

.editor-panel-widget {
  @extend .pop-over-viewer;
  display: flex;
  top: 2%;
  left: 2%;
  width: $editorPanelStartWidth;
  height: $editorPanelStartHeight;
  min-width: $editorPanelMinWidth;
  min-height: $editorPanelMinHeight;
  max-width: 100%;
  max-height: 100%;
  background: white;

  .editor-panel-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .editor-panel-header {
    position: absolute;
    width: 80%;
    width: calc(100% - 50px);
    height: $editorPanelHeadingHeight;
    margin: $editorPanelHeadingMargin;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #e1e1e1;
    background: #f8f8f8;
  }

  .editor-panel-title {
    padding-left: 10px;
    margin: $editorPanelHeadingMargin;
  }

  .editor-panel-content {
    overflow: auto;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;

    margin: $editorPanelHeadingHeightTotal 0 0 0;
  }

  .button-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

@media (min-height: 800px) {
  .editor-panel-widget {
    height: $editorPanelStartHeightLargeScreen;
  }
}

@media (min-width: 1025px) {
  .editor-panel-widget {
    width: $editorPanelStartWidthLargeScreen;
  }
}
/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.tab-content {
  height: 100%;
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
    height: 100%;
  }
}
