/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/
$hbp-common-asset-path: '/bower_components/angular-hbp-common/dist/assets';
$icon-font-path: '/bower_components/hbp-collaboratory-theme/dist/fonts/';

// Dependencies (scss deps are injected here by grunt-wiredep).
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'font-awesome/scss/font-awesome.scss';
@import 'hbp-collaboratory-theme/dist/sass/theme.scss';
// endbower

@import 'toolbar-extensions';
@import 'splash';
@import url('//fonts.googleapis.com/css?family=Petit+Formal+Script');

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

// Prevents native orange outline of selected elements
*:focus {
  outline: none;
}

html,
body,
[ui-view] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body.experiment-view-route {
  overflow: hidden;
  background-color: black;
}

// Accounts for the fixed navbar
.container-with-navbar-margin {
  margin-top: 10px;
  height: 100%;
}

.fadein,
.fadeout {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.esv-contextmenu {
  position: absolute;
  z-index: 1000;
  background-color: white;
  min-width: 100px;
}

.esv-materials-chooser {
  display: flex;
  height: 30px;

  .esv-materials-chooser-material {
    flex-grow: 1;
    border: 1px solid white;

    &:hover {
      border-color: #666;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .esv-remove-from-touchscreen {
    display: none;
  }
}

// create new classes for dividing bootstrap into 5ths
// see http://stackoverflow.com/a/22799354/2677943
// modified answer to use scss in order to only change
// width and do not touch anything else.
.col-xs-5ths {
  @extend .col-xs-12;
  width: 20%;
}
.col-sm-5ths {
  @extend .col-sm-12;
}
.col-md-5ths {
  @extend .col-md-12;
}
.col-lg-5ths {
  @extend .col-lg-12;
}
@media (min-width: $screen-sm-min) {
  .col-sm-5ths {
    width: 20%;
  }
}
@media (min-width: $screen-md-min) {
  .col-md-5ths {
    width: 20%;
  }
}
@media (min-width: $screen-lg-min) {
  .col-lg-5ths {
    width: 20%;
  }
}

.foreground {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  margin-bottom: 13px;
}

.btn.disabled.enable-tooltip {
  pointer-events: all;
}

.no-margin {
  margin: 0px 0px 0px 0px !important;
}

.monospace-text {
  font-family: monospace;
}

[v-busy].is-busy::before {
  border-top-color: black;
  border-left-color: black;
}

.label-availability {
  padding: 2px;
  border-radius: 2px;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  top: -1px;
  position: relative;
}
input[type='checkbox'] {
  margin-right: 6px;
}
input[type='radio'] {
  margin-right: 6px;
  margin-left: 20px;
}

.nav-tabs {
  flex-shrink: 0;
}
