/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

.esv-overlay {
  width: 100%;
  height: auto;
}

.hbp-toolbar {
  height: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #f3f3f3;
  box-shadow: 2px 5px 11px 0px;
  border-radius: 6px;
  background: linear-gradient(to right bottom, #e2e2e2, #eaeaea);
  min-width: 165px;
}

.hbp-top-bar-button {
  width: 15;
  height: 16;
  font-size: 17px;
  margin-right: 2px;
  color: #868686;
  cursor: pointer;
}

.hbp-toolbar-action {
  flex-grow: 1;
  border-right: none;
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  margin: 1px;
  background: linear-gradient(to right bottom, white, #ececec);
  width: 50px;
}

.vertcenter {
  line-height: 42px;
  vertical-align: middle;
}

.hide-overflow {
  overflow: hidden;
}

.exit-panel-modal {
  min-height: 200px;
  padding: 10px;
  margin-top: 0px;
}

.exit-panel-title {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.exit-panel-text {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: medium;
}

.exit-panel-buttons {
  margin-top: 20px;
}

.exit-panel-right-button {
  float: right;
}

.exit-panel-left-button {
  float: left;
}

.exit-panel-right-button.btn-leave {
  margin-right: 5px;
}
.fade {
  transition: opacity 0.5s linear;
}

::ng-deep .tooltip.top.fade.top-right.in {
  margin-right: 5px;
}

.hbp-toolbar-topbar {
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

.hbp-toolbar-camera-popup {
  position: fixed;
  width: 52px;
  margin-top: -170px;
  margin-left: -2px;
  background-color: #848484;
  z-index: 400;
  box-shadow: 0px 0px 30px #000000;
}

.hbp-toolbar-glyphicon {
  font-size: 20px;
  line-height: 37px;
}
