<div class="container-with-navbar-margin exit-panel-modal">
    <div class="list-container">
        <div class="exit-panel-title">
            <button type="button"
                    class="close"
                    ng-click="vm.nrpModalService.destroyModal()"
                    aria-hidden="true">x</button>
            <h4 style="font-size: 20px;">Exit menu</h4>
        </div>
        <div class="exit-panel-text">
            <p>Would you like to leave or stop the simulation?</p>
        </div>
        <div class="exit-panel-buttons">
            <button class="btn btn-default btn-cancel exit-panel-left-button"
                ng-click="vm.nrpModalService.destroyModal()">Cancel
            </button>
            <button class="btn btn-default btn-danger exit-panel-right-button"
            ng-if="vm.userContextService.isOwner()"
            ng-disabled="vm.stateService.statePending"
            ng-click="vm.nrpModalService.destroyModal();vm.stopSimulation()"
            ng-show="(vm.stateService.currentState !== vm.STATE.STOPPED) &&
                      (vm.stateService.currentState !== vm.STATE.FAILED)">Stop
            </button>
            <button class="btn btn-default btn-leave exit-panel-right-button"
                ng-click="vm.nrpModalService.destroyModal();vm.exitSimulation()">Leave
            </button>
        </div>
    </div>
</div>
