/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

.cssloaded {
  visibility: visible !important;
}
.top-buffer {
  margin-top: 20px;
}

.table-wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
  width: 100%;
}

.top-buttons {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.servers-dropdown > li {
  cursor: pointer;
}

.list-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list-separator {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

.list-entry-container {
  display: flex;
  max-height: 144px;
  min-height: 144px;
}

.list-entry-container.hover {
  background: linear-gradient(to right, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
  max-height: 144px;
  min-height: 144px;
}

.list-entry-container.selected {
  max-height: unset;
  min-height: unset;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(245, 245, 245, 0.8) 100%
  );
}

.list-entry-container.hover-wizard {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(230, 239, 255, 0.8) 100%
  );
}

.list-entry-container.selected-wizard {
  max-height: unset;
  min-height: unset;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(230, 239, 255, 0.8) 100%
  );
}

.list-entry-container.left-right {
  flex-direction: row;
  min-height: unset;
}

.list-entry-container.up-down {
  flex-direction: column;
  max-height: none;
}

.list-entry-container.title-line {
  align-items: baseline;
  min-height: unset;
}

.list-entry-container.center {
  align-items: center;
  justify-content: center;
  min-height: unset;
}

.list-entry-main {
  flex: 8;
}

.list-entry-left {
  flex: 1;
  width: 200px;
  padding-right: 15px;
  padding-left: 15px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

.list-entry-left.selected {
  flex: 1.8;
}

.list-entry-left > img {
  min-width: 130px;
  width: 100%;
  object-fit: contain;
  object-position: top;
  height: 100%;
  max-height: 225px;
}
.list-entry-middle {
  flex: 8;
}

.list-entry-running {
  font-size: 12px;
  font-style: italic;
  color: #555555;
  padding-left: 10px;
}

.list-entry-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.self-center {
  max-width: 30%;
}

.table tbody tr td:nth-of-type(4) {
  font-family: Courier, monospace;
}

.developpers-switch {
  position: absolute;
  top: 5pt;
  right: 5pt;
  font-size: xx-small;
}
.servers-dropdown.dropdown-menu {
  padding: 5px 2px 2px 2px;

  & > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .server-state-WARNING {
    background-color: rgba(255, 170, 68, 0.4);
  }

  .server-state-CRITICAL {
    background-color: rgba(255, 85, 102, 0.4);
  }
}

.no-experiment-msg {
  font-size: 20px;
  margin-left: 20px;
  color: #7a8fa9;
  font-style: italic;
}

.server-icon {
  height: 20px;
  width: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 2px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal-window {
  .modal-lg {
    width: 1308px;
  }
}
.pre {
  white-space: pre-wrap;
}

.cancel-clone-btn {
  background-color: #f3f3f3;
}

.underlined-tab-area {
  display: flex;
  margin-left: 17px;
  margin-top: 22px;
  min-width: 600px;
}

.underlined-tab {
  font-size: 15px;
  color: #555555;
  margin-right: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  user-select: none;
}

.underlined-tab-disabled {
  font-size: 15px;
  color: #aaa6a6;
  margin-right: 30px;
  margin-bottom: 0px;
  user-select: none;
  cursor: default;
}

.underlined-tab-selected {
  color: #337ab7;
}

.underlined-box {
  background: #337ab7;
  width: 100%;
  height: 3px;
}

.neuro-title-box {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to right, #ffffff 0%, #d3e7ff 50%, #2c5677 100%);
}

.neuro-title-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;

  > * {
    font-size: 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    height: 21px;
    margin: 5px;
    margin-right: 1px;
    right: 2px;
    z-index: 100;
  }
}

.tip-tooltip-place {
  background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(255, 255, 255));
  width: calc(100% - 18px);
  position: absolute;
  height: 55px;
  padding-left: 16px;
  z-index: 100;
}

.title-top-button {
  width: 82px;
  background-color: #3f6686;
  user-select: none;
}

.title-top-button-icon {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 2px;
}
