  <!-- Basic Users are invited to join the Demo Carousel banner-->
  <div class="alert alert-info no-margin" ng-show="displayWatchDemosButton">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <b>Getting started?</b> Follow our guided tour to see running simulations
    <a ng-href="{{demoCarouselUrl}}">
        <button type="button" class="btn btn-primary">
            <i class="glyphicon"></i><span>Watch demos</span>
        </button>
      </a>
  </div>
