/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

.dynamic-view-overlay-wrapper[channel='ros-terminal'] .resizeable {
  background-image: none;
}

.ros-terminal-popup {
  display: flex;
  flex-direction: column;
  height: 100%;
  white-space: pre;
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;

  .ros-command-list {
    padding: 15px 10px 10px 10px;
    overflow: auto;
    display: flex;
    flex-grow: 0;
    flex-direction: column;

    .ros-command {
      transition: none !important;
      min-height: 20px;
      flex-grow: 0;
      display: flex;
      clear: both;
      align-items: baseline;
    }
  }

  .ros-input-line {
    display: flex;
    clear: both;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .ros-prompt {
    color: #96b38a;
    display: -webkit-box;
    padding-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    white-space: nowrap;
    height: 22px;
    line-height: 22px;
  }

  .ros-command-line,
  .ros-command-text {
    white-space: pre;
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    border: none;
    -webkit-box-flex: 1;
    display: -webkit-box;
  }
}
