<button ng-show="isPrivateExperiment" type="button" class="btn btn-default  btn-md" owner-only ng-click="saveCSVIntoCollabStorage()"
  ng-disabled="(stateService.currentState === STATE.INITIALIZED)" v-busy="isSavingCSVToCollab" v-busy-label="Saving to Storage"
  v-pressable>
  <i class="glyphicon glyphicon glyphicon-stats"></i>
  <span> Save CSV</span>
</button>

<!-- The trick here is to use a 'a' tag instead of a 'button' tag -->
<button owner-only id="download-transfer-functions" ng-disabled="!transferFunction" class="btn btn-default btn-md" ng-click="download()" style="margin-left:10px">
  <i class="glyphicon glyphicon-download"></i>
  <span>Download</span>
</button>

<button class="btn btn-default btn-md" type="file" owner-only ngf-select="upload($file)" accept=".py"
  ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending">
  <i class="glyphicon glyphicon-upload"></i>
  <span> Upload</span>
</button>