<!-- build:css(.tmp) styles/esv/transfer-function-editor.css -->
<link rel="stylesheet" href="components/editors/transfer-function-editor/transfer-function-editor.style.css" />
<!-- endbuild -->

<div class="graphical-editor-tf-container">

  <div class="tf-ed-header">
    <h3>Transfer Functions Editor</h3>
    <div class="alert alert-info">
      <p>
        <a target="_blank" href="{{cleDocumentationURL}}/architecture/transfer_functions.html">
          <b>Transfer Functions</b>
        </a> describe how spikes from the neuronal simulation are to be translated into commands for a robot and how the sensor
        data from the robot should be translated back to spikes. Get started with our
        <a target="_blank" href="{{platformDocumentationURL}}/nrp/tutorials/transfer_function/index.html">
          <b>tutorial</b>
        </a>.
      </p>
    </div>

    <autosave-on-exit-checkbox-list id="transferFunctions">
      <autosave-on-exit-checkbox id="CSVData" saveCallback="saveCSVIntoCollabStorage()" label="Autosave CSV data on exit" style="display: flex;
      justify-content: flex-end; font-size: 12px;"></autosave-on-exit-checkbox>
    </autosave-on-exit-checkbox-list>

    <div ng-show="(stateService.currentState === STATE.INITIALIZED)" class="alert alert-warning" role="alert">The simulation is in initialized state. It has to be started (or started and paused) to enable transfer function edition.</div>


  </div>

  <div class="tf-edit-area">
    <div class="left-panel">

      <div class="tf-title-box">
        <div class="tf-title">Transfer Functions</div>

        <div>

          <button type="button" class="btn btn-default tf-small-icon-button" ng-click="delete()" ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending">
            <i class="glyphicon glyphicon-trash"></i>
          </button>

          <button type="button" class="btn btn-default btn-md tf-small-icon-button" ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending"
            ng-click="createNewTF();">
            <i class="glyphicon glyphicon-plus"></i>
          </button>

        </div>

      </div>

      <div class="tf-box">
        <ul style="height: 100%; overflow-y: auto; padding: 5px;">
          <li ng-repeat="tf in transferFunctions" ng-class="{'tfDirty' : tf.dirty, 'tfSelected' : tf.name === selectedTF, 'tfNotSelected' : tf.name !== selectedTF}"
            ng-click="selectTransferFunction(tf.name)">
            <div style="display: flex;">

              <div style="min-width:17px">
                <i ng-show="tf.dirty" class="fa fa-circle" style="font-size: 9px;
                    vertical-align: top;
                    position: relative;
                    top: 5px;
                    left: 3px;"></i>
              </div>

              <div style="display:flex; width: 100%; justify-content: space-between;">

                <div ng-show="tf.editName" style= "width: 80%">
                  <input ng-blur="setNameTf()" ng-model="tf.name">
                </div>
                <div ng-hide="tf.editName" ng-class="{'tfNameDeactivated':!tf.active}" style="text-overflow: ellipsis; overflow: hidden; width: 80%">
                  {{tf.name}}
                </div>

                <div ng-click="tf.editName=!tf.editName" style="cursor:pointer; margin-left: 2px; min-width: 21px; border:unset; background-color: rgba(0, 0, 0, 0);">
                  <i ng-hide="tf.editName" style="outline: none; border: 0; background: transparent;" class="glyphicon glyphicon-pencil"></i>
                </div>

                <div title="Activate/Deactivate the transfer function" ng-click="toggleActive(tf)" style="cursor:pointer; margin-left: 2px; min-width: 21px; border:unset; background-color: rgba(0, 0, 0, 0);">
                  <i ng-show="tf.active" class="fa fa-toggle-on" style="font-size: 16px; color:rgb(135, 185, 167);"></i>
                  <i ng-show="!tf.active" class="fa fa-toggle-off" style="font-size: 16px;  color:#7d7d7d;"></i>
                </div>

              </div>

            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="center-panel">
      <div class="tf-content-box">

        <div style="height: 100%;">

          <div style="display:flex; height: 100%; ">

            <div style="display:flex; flex-direction:column; flex-grow: 1">

              <div id="codeEditor" ui-codemirror ui-refresh="transferFunction.rawCode" ng-change="setDirty(transferFunction)" ng-model="transferFunction.rawCode"
                style="height: 100%; font-size:13px">
              </div>

              <div ng-repeat="(type, error) in transferFunction.error">
                <div class="alert alert-danger" style="margin-top: 5px;" role="alert">
                  {{error.message}}
                  <b>({{type}})</b>
                </div>
              </div>
            </div>

            <div class="right-panel">

              <div ng-show="!addMode" style="max-height: 100%;overflow-y: auto;">

                <div style="margin-right:5px">

                  <!-- POPULATIONS -->

                  <div class="tf-param-title-block" ng-class="{'tf-param-title-background-populations':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}" >

                    <div class="tf-parameter-section-title">Populations</div>

                    <div ng-show="!localHelpVisible.populations"  style="display:flex">

                      <button type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(true,'populations')" style="margin-left: 2px; min-width: 21px;">
                        <i class="fa fa-question" style="font-size: 12px;"></i>
                      </button>

                    </div>

                  </div>


                  <div class="well well-sm normal tf-param-section-box">

                    <div ng-show="localHelpVisible.populations" class="tf-hint-small-help-block" ng-class="{'tf-param-title-background-populations':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">
                      <div>
                      Examine the neuron populations as they have been defined in the <B>Brain Editor</B>:
                    </div>
                    <div>
                        <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(false,'populations')" style="margin-left: 2px;     height: 16px;
                        width: 16px; position:relative; border: none;
                        background: none;">
                            <i class="fa fa-close" style="font-size: 14px;
                            position: absolute;
                            left: 3px;
                            top: -2px;
                            color: rgba(0,0,0,0.3);"></i>
                          </button>

                      </div>

                    </div>

                    <div class="tf-param-border" style="margin-bottom: 3px;" ng-repeat="pop in populations">

                      <div ng-click="pop.showDetails = !pop.showDetails" class="tf-param-title-background"
                      ng-class="{'tf-param-title-background-populations-sub':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">

                        <div ng-class="{'fa fa-caret-right':!pop.showDetails,'fa fa-caret-down':pop.showDetails}" class="tf-parameter-caret">
                        </div>

                        <div class="tf-parameter-title">{{pop.name}}</div>

                      </div>

                      <div ng-show="pop.showDetails" ng-click="$event.stopPropagation()" style="margin-top: 5px;margin-bottom: 10px;">

                        <div ng-repeat="param in pop.parameters" class="tf-population-param">
                          <div style="font-weight:600">{{param.parameterName}}</div>
                          <div>{{param.value}}</div>
                        </div>

                      </div>

                    </div>

                  </div>

                  <!-- NEURON INPUT/OUTPUT -->

                  <div class="tf-param-title-block"
                  ng-class="{'tf-param-title-background-neurons':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}" >

                    <div class="tf-parameter-section-title">Connect to brain</div>

                    <div style="display:flex">
                      <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="addMode='addDevice'">
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>

                      <button ng-show="!localHelpVisible.connectToBrain" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(true,'connectToBrain')" style="margin-left: 2px; min-width: 21px;">
                        <i class="fa fa-question" style="font-size: 12px;"></i>
                      </button>


                    </div>

                  </div>

                  <div class="well well-sm normal tf-param-section-box">

                      <div ng-show="localHelpVisible.connectToBrain" class="tf-hint-small-help-block"
                      ng-class="{'tf-param-title-background-neurons':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">
                          <div>
                          Select neurons from populations to read or write spikes from the brain.
                        </div>
                        <div>
                            <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(false,'connectToBrain')" style="margin-left: 2px;     height: 16px;
                            width: 16px; position:relative; border: none;
                            background: none;">
                                <i class="fa fa-close" style="font-size: 14px;
                                position: absolute;
                                left: 3px;
                                top: -2px;
                                color: rgba(0,0,0,0.3);"></i>
                              </button>

                          </div>

                        </div>


                    <div class="tf-param-border" ng-repeat="dev in transferFunction.devices">

                      <div ng-click="dev.showDetails = !dev.showDetails" class="tf-param-title-background"
                      ng-class="{'tf-param-title-background-neurons':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}"
                      >

                        <div ng-class="{'fa fa-caret-right':!dev.showDetails,'fa fa-caret-down':dev.showDetails}" class="tf-parameter-caret">
                        </div>

                        <div class="tf-parameter-title">{{dev.name}}</div>

                      </div>

                      <div ng-show="!dev.showDetails" style="display:flex; margin-top: 3px;">
                        <div ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR" ng-class="{'fa fa-arrow-circle-left':transferFunction.type === TRANSFER_FUNCTION_TYPE.NEURON2ROBOT,
                               'fa fa-arrow-circle-right':transferFunction.type === TRANSFER_FUNCTION_TYPE.ROBOT2NEURON}"
                             class="tf-parameter-subtitle-pubinfo">
                        </div>
                        <img ng-if="transferFunction.type === TRANSFER_FUNCTION_TYPE.NEURONMONITOR"
                             src="img/esv/neuron_monitor_icon.png" width="12" height="12"
                             class="tf-parameter-subtitle-pubinfo">
                        <div class="tf-parameter-subtitle">
                          Type: {{dev.type}}
                          <br> Population: {{getFriendlyPopulationName(dev.neurons)}}
                        </div>
                      </div>

                      <div ng-show="dev.showDetails" ng-click="$event.stopPropagation()">
                        <div class="tf-param-varblock">

                          <div>
                            <div class="tf-param-varblock-label">Variable:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty" class="normal" type="text" name="input" ng-model="dev.name" ng-change="decoratorsChangedFromUI(transferFunction)" style="width:100%"
                                ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || dev.name !== 'device'">
                              <span ng-if="transferFunction.type === TRANSFER_FUNCTION_TYPE.NEURONMONITOR && dev.name ==='device'">Monitored neurons</span>
                            </div>
                          </div>

                          <div>
                            <div class="tf-param-varblock-label">Type:</div>
                            <div>
                              <select ng-disabled="transferFunction.decoratorDirty" class="normal" ng-model="dev.type" data-value="{{dev.type}}" ng-click="decoratorsChangedFromUI(transferFunction)" style="width:100%">
                                <optgroup label="Neural Network Outputs">
                                  <option value="LeakyIntegratorAlpha">Alpha-shaped Leaky Integrator</option>
                                  <option value="LeakyIntegratorExp">Exponential-shaped Leaky Integrator</option>
                                  <option value="SpikeRecorder">Spike Recorder</option>
                                </optgroup>
                                <optgroup label="Neural Network Inputs">
                                  <option value="ACGenerator">AC Current Generator</option>
                                  <option value="DCGenerator">DC Current Generator</option>
                                  <option value="Poisson">Poisson Generator</option>
                                  <option value="FixedFrequency">Fixed Frequency Generator</option>
                                </optgroup>
                              </select>
                            </div>
                          </div>
                          <div>
                            <div class="tf-param-varblock-label">Parameters:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty" class="normal" id="parameter1" ng-change="decoratorsChangedFromUI(transferFunction)" type="text" ng-model="dev.parameters" style="width:100%">
                            </div>
                          </div>

                          <div>
                            <div class="tf-param-varblock-label">Population:</div>
                            <div class="tf-parameter-subtitle" style="font-size:13px; font-style: italic;">{{getFriendlyPopulationName(dev.neurons)}}</div>
                          </div>


                        </div>

                        <div class="tf-var-block-bottom-area">

                          <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default tf-small-icon-button" ng-click="deleteDevice(dev); decoratorsChangedFromUI(transferFunction)" ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || dev.name !== 'device'">
                            <i class="glyphicon glyphicon-trash"></i>
                          </button>

                        </div>

                      </div>


                    </div>

                  </div>

                  <!-- CONNECTION TO ROBOT TOPICS -->


                  <div class="tf-param-title-block"
                  ng-class="{'tf-param-title-background-topics':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">

                    <div class="tf-parameter-section-title">Connect to robot</div>

                    <div style="display:flex">
                      <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="addMode='addTopic'">
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>

                      <button ng-show="!localHelpVisible.connectToRobot" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(true,'connectToRobot')" style="margin-left: 2px; min-width: 21px;">
                        <i class="fa fa-question" style="font-size: 12px;"></i>
                      </button>


                    </div>
                  </div>

                  <div class="well well-sm normal tf-param-section-box">

                      <div ng-show="localHelpVisible.connectToRobot" class="tf-hint-small-help-block"
                      ng-class="{'tf-param-title-background-topics':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">
                          <div>
                              Select topics from the robot sensors or actuators to read and write data.
                        </div>
                        <div>
                            <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(false,'connectToRobot')" style="margin-left: 2px;     height: 16px;
                            width: 16px; position:relative; border:none; background:none;">
                                <i class="fa fa-close" style="font-size: 14px;
                                position: absolute;
                                left: 3px;
                                top: -2px;
                                color: rgba(0,0,0,0.3);"></i>
                              </button>

                          </div>

                        </div>

                    <div ng-repeat="top in transferFunction.topics" class="tf-param-border">

                      <div ng-click="top.showDetails = !top.showDetails" class="tf-param-title-background"
                      ng-class="{'tf-param-title-background-topics':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">


                        <div ng-class="{'fa fa-caret-right':!top.showDetails,'fa fa-caret-down':top.showDetails}" class="tf-parameter-caret">
                        </div>

                        <div class="tf-parameter-title">{{top.isDefault?'Default':top.name}}</div>

                      </div>

                      <div ng-show="!top.showDetails" style="display:flex; margin-top: 3px;">
                        <div ng-class="{'fa fa-arrow-circle-left':!top.publishing,'fa fa-arrow-circle-right':top.publishing}" class="tf-parameter-subtitle-pubinfo"></div>
                        <div class="tf-parameter-subtitle">{{top.topic}}</div>
                      </div>


                      <div ng-show="top.showDetails" ng-click="$event.stopPropagation()">

                        <div style="display:flex">

                          <div class="tf-param-varblock">

                            <div ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || top.name !== 'publisher'">
                              <div class="tf-param-varblock-label">Name</div>
                              <input ng-disabled="transferFunction.decoratorDirty" ng-if="!top.isDefault" class="normal" type="text" name="input" ng-model="top.name" ng-change="decoratorsChangedFromUI(transferFunction)" style="width:100%">
                              <input ng-disabled="transferFunction.decoratorDirty" ng-if="top.isDefault" class="normal disabled" type="text" name="input" value="t"  style="width:100%">
                              <div style="text-align:right;font-size:10px; margin:1px" ng-if="top.publishing">or
                                <input ng-disabled="transferFunction.decoratorDirty"  type="checkbox" ng-model="top.isDefault" ng-change="setTopicName(top); decoratorsChangedFromUI(transferFunction)" /> use as default</div>
                            </div>

                            <span ng-if="transferFunction.type === TRANSFER_FUNCTION_TYPE.NEURONMONITOR && top.name === 'publisher'" style="font-style: italic;">Monitor channel</span>

                            <div ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || top.name !== 'publisher'">
                              <div class="tf-param-varblock-label">Topic</div>
                              <div>
                                <input ng-disabled="transferFunction.decoratorDirty" class="normal" type="text" name="input" ng-model="top.topic" ng-change="decoratorsChangedFromUI(transferFunction)" style="width:100%">
                              </div>
                            </div>

                            <div ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || top.name !== 'publisher'">
                              <div class="tf-param-varblock-label">Type</div>
                              <div>
                                <input ng-disabled="transferFunction.decoratorDirty" class="normal" type="text" ng-model="top.type" ng-change="decoratorsChangedFromUI(transferFunction)" style="width:100%" />
                              </div>
                            </div>

                            <div ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || top.name !== 'publisher'">

                              <div class="tf-param-varblock-label" style="display:flex">
                                <input ng-disabled="transferFunction.decoratorDirty" class="normal" style="min-width:16px;max-width: 16px; margin-top: 3px;" type="checkbox" ng-model="top.publishing"
                                  ng-change="decoratorsChangedFromUI(transferFunction)" />
                                <div>Is Publishing</div>
                              </div>

                            </div>

                          </div>

                        </div>

                        <div class="tf-var-block-bottom-area">

                          <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default tf-small-icon-button" ng-click="deleteTopic(top); decoratorsChangedFromUI(transferFunction)" ng-if="transferFunction.type !== TRANSFER_FUNCTION_TYPE.NEURONMONITOR || top.name !== 'publisher'">
                            <i class="glyphicon glyphicon-trash"></i>
                          </button>

                        </div>

                      </div>


                    </div>

                  </div>


                  <!-- VARIABLES -->

                  <div class="tf-param-title-block"
                  ng-class="{'tf-param-title-background-variables':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">

                    <div class="tf-parameter-section-title">Global variables</div>

                    <div style="display:flex">
                      <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="addMode='addVariable'">
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>

                      <button ng-show="!localHelpVisible.globalVariables" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(true,'globalVariables')"  style="margin-left: 2px; min-width: 21px;">
                        <i class="fa fa-question" style="font-size: 12px;"></i>

                      </button>
                    </div>

                  </div>


                  <div class="well well-sm normal tf-param-section-box">

                      <div ng-show="localHelpVisible.globalVariables" class="tf-hint-small-help-block"
                      ng-class="{'tf-param-title-background-variables':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">
                          <div>
                          Declare global variables that can be used across all scripts.
                        </div>
                        <div>
                            <button ng-disabled="transferFunction.decoratorDirty" type="button" class="btn btn-default btn-md tf-small-icon-button-param" ng-click="showLocalHelp(false,'globalVariables')" style="margin-left: 2px;     height: 16px;
                            width: 16px; position:relative; border:none; background:none;">
                                <i class="fa fa-close" style="font-size: 14px;
                                position: absolute;
                                left: 3px;
                                top: -2px;
                                color: rgba(0,0,0,0.3);"></i>
                              </button>

                          </div>

                        </div>



                    <div ng-repeat="var in transferFunction.variables" class="tf-param-border">

                      <div ng-click="var.showDetails = !var.showDetails" class="tf-param-title-background"
                      ng-class="{'tf-param-title-background-variables':!transferFunction.decoratorDirty,'tf-param-title-background-disabled':transferFunction.decoratorDirty}">

                        <div ng-class="{'fa fa-caret-right':!var.showDetails,'fa fa-caret-down':var.showDetails}" class="tf-parameter-caret">
                        </div>

                        <div class="tf-parameter-title">{{var.name}}</div>

                      </div>

                      <div ng-show="!var.showDetails" style="display:flex; margin-top: 3px; margin-left:10px">
                        <div class="tf-parameter-subtitle">{{var.initial_value}}</div>
                      </div>

                      <div ng-show="var.showDetails" ng-click="$event.stopPropagation()">

                        <div class="tf-param-varblock">

                          <div>
                            <div class="tf-param-varblock-label">Name:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty" class="normal" type="text" ng-model="var.name" ng-change="decoratorsChangedFromUI(transferFunction)" style="width:100%" />
                            </div>
                          </div>

                          <div>
                            <div class="tf-param-varblock-label">Type:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty"  type="radio" ng-model="var.type" value="int" ng-change="decoratorsChangedFromUI(transferFunction)" /> Integer
                              <br/>
                              <input ng-disabled="transferFunction.decoratorDirty"  type="radio" ng-model="var.type" value="str" ng-change="decoratorsChangedFromUI(transferFunction)" /> String
                              <br/>
                              <input ng-disabled="transferFunction.decoratorDirty"  type="radio" ng-model="var.type" value="csv" ng-change="parseFilenameAndHeaders(var);decoratorsChangedFromUI(transferFunction)" /> CSV Recorder
                              <br />
                              <input ng-disabled="transferFunction.decoratorDirty"  type="radio" ng-model="var.type" value="retina" ng-change="decoratorsChangedFromUI(transferFunction)" /> Retina configuration
                            </div>
                          </div>
                          <div ng-if="var.type !== 'csv' && var.type !== 'retina'">
                            <div>Initial Value:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty"  class="normal" type="text" ng-model="var.initial_value" ng-change="decoratorsChangedFromUI(transferFunction)">
                            </div>
                          </div>
                          <div ng-if="var.type === 'csv'">
                            <div class="tf-param-varblock-label">File name:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty"  class="normal" type="text" ng-model="var.filename" ng-change="updateCSV(var)" style="width:100%" />
                            </div>
                          </div>
                          <div ng-if="var.type === 'csv'">
                            <div class="tf-param-varblock-label">Header</div>
                            <div class="tf-param-tag-edit-block">
                              <button ng-disabled="transferFunction.decoratorDirty"  ng-repeat="head in var.headers" type="button" class="btn btn-default tf-param-remove-tag-button" ng-click="deleteHeader(var, head); decoratorsChangedFromUI(transferFunction)">
                                <span>{{head}} </span>
                                <i class="glyphicon glyphicon-remove" style="font-size: 10px; left: 2px;"></i>
                              </button>

                              <div style="display:flex;max-height: 25px; margin-top: 16px; margin-left: 4px;">
                                <input type="text" class="normal" ng-model="tmpHeader" style="width:100%; min-width: 140px;" />
                                <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default" style="font-size: 12px; margin-left: 2px;
                                  padding-top: 4px;" ng-click="addHeader(var, tmpHeader); tmpHeader = null; decoratorsChangedFromUI(transferFunction)">
                                  <i class="glyphicon glyphicon-plus"></i>
                                </button>
                              </div>

                            </div>
                          </div>
                          <div ng-if="var.type === 'retina'">
                            <div class="tf-param-varblock-label">Configuration:</div>
                            <div>
                              <input ng-disabled="transferFunction.decoratorDirty"  class="normal" type="text" ng-model="var.initial_value" ng-change="decoratorsChangedFromUI(transferFunction)" />
                            </div>
                          </div>

                        </div>

                        <div class="tf-var-block-bottom-area">

                          <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default tf-small-icon-button" ng-click="deleteVariable(var);decoratorsChangedFromUI(transferFunction)">
                            <i class="glyphicon glyphicon-trash"></i>
                          </button>

                        </div>

                      </div>

                    </div>

                  </div>
                </div>
              </div>


              <div ng-show="addMode" style="height:100%">

                <div ng-show="addMode=='addTopic'" style="height: calc(100% - 40px);">

                  <div class="tf-param-title-block tf-param-title-background-topics">

                    <div class="tf-parameter-section-title">Add robot topic...</div>

                  </div>

                  <hr style="margin-bottom: 3px; margin-top: 2px; width: 100%; margin-right:10px">

                  <div style="height: calc(100% - 40px);">
                    <ul style="max-height: calc(100% - 32pt); overflow-y: auto;">
                      <li ng-repeat="topic in topics" ng-class="{'selected' : topic == $parent.selectedTopic, 'notSelected' : topic !== $parent.selectedTopic}"
                        ng-click="$parent.selectedTopic = topic;">
                        {{topic.topic}}
                      </li>
                    </ul>

                    <hr style="margin-bottom: 3px; margin-top: 2px; width: 100%; margin-right:10px">


                    <div class="smallButtonBlock">

                      <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default" href ng-click='createTopicChannel(true)' ng-class="{'disabled': selectedTF == null || !selectedTopic}">Add Publisher
                      </button>

                      <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default" href ng-click='createTopicChannel(false)' ng-class="{'disabled': selectedTF == null || !selectedTopic}">Add Subscriber
                      </button>
                    </div>

                    <div class="smallButtonBlock">
                      <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default" style="display: flex;
                          justify-content: center;" href ng-click='addMode=null'>

                        <i class="fa fa-arrow-left" style="margin-top: 2px; margin-right: 5px;"></i>
                        Cancel
                      </button>
                    </div>


                  </div>

                </div>

                <div ng-show="addMode=='addDevice'" style="height: calc(100% - 40px);">


                  <div class="tf-param-title-block  tf-param-title-background-neurons">

                    <div class="tf-parameter-section-title">Add neuron input/output...</div>

                  </div>

                  <hr style="margin-bottom: 3px; margin-top: 2px; width: 100%; margin-right:10px">


                  <div  style="height: calc(100% - 40px);">
                    <ul style="max-height: calc(100% - 32pt); overflow-y: auto;">
                      <li ng-repeat="population in populations">

                        <div ng-click="$parent.selectedPopulation = population==$parent.selectedPopulation?null:population" ng-class="{'tf-param-title-background-neurons-light':population !== $parent.selectedPopulation,
                                          'tf-param-title-background-neurons':population === $parent.selectedPopulation}"
                          style="display:flex; margin: 5px; font-size:13px">
                          <div style="margin-right: 8px; margin-top: 2px; margin-left: 5px;" ng-class="{'fa fa-caret-right':population !== $parent.selectedPopulation,'fa fa-caret-down':population === $parent.selectedPopulation }"></div>
                          <div>{{population.name}}</div>
                        </div>

                        <ul uib-collapse="population !== $parent.selectedPopulation">
                          <li class="populationCheckBox" ng-repeat="neuron in population.gids" ng-click="toggleNeuron(neuron, true)">
                            <input type="checkbox" ng-model="neuron.selected" ng-click="toggleNeuron(neuron, false); $event.stopPropagation()"> {{population.neuron_model}} {{neuron.id}}
                          </li>
                        </ul>
                      </li>
                    </ul>

                    <hr style="margin-bottom: 3px; margin-top: 2px; width: 100%; margin-right:10px">

                    <div class="smallButtonBlock">


                      <button ng-disabled="transferFunction.decoratorDirty"  href ng-click='createDevice()' type="button" class="btn btn-default" ng-class="{'disabled': !selectedTF || !isNeuronsSelected || !selectedPopulation}">Create Device
                      </button>

                      <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default btn-md" ng-disabled="(stateService.currentState === STATE.INITIALIZED) || stateService.statePending || !selectedPopulation || !isNeuronsSelected"
                        ng-click="createNewMonitor();">
                        <span> Create Monitor</span>
                      </button>

                    </div>

                    <div class="smallButtonBlock">
                      <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default" style="display: flex;
                          justify-content: center;" href ng-click='addMode=null'>

                        <i class="fa fa-arrow-left" style="margin-top: 2px; margin-right: 5px;"></i>
                        Cancel
                      </button>
                    </div>

                  </div>

                </div>

                <div ng-show="addMode=='addVariable'" style="height: calc(100% - 40px);">

                  <div class="tf-param-title-block  tf-param-title-background-variables">

                    <div class="tf-parameter-section-title">Add variable...</div>

                  </div>

                  <hr style="margin-bottom: 3px; margin-top: 2px; width: 100%; margin-right:10px">


                  <div class="tf-param-varblock-label">Name:</div>

                  <div style="display:flex">

                    <input class="normal" type="text" ng-model="newVariableName" style="min-width: 100px;" />

                    <button ng-disabled="transferFunction.decoratorDirty"  type="button" class="btn btn-default btn-md" ng-disabled="newVariableName.length===0" ng-click="addNewVariable(newVariableName);"
                      style="min-width: 61px; margin-left: 8px;">
                      <span> Add </span>
                    </button>


                  </div>

                  <div class="smallButtonBlock">
                    <button type="button" class="btn btn-default" style="display: flex;
                        justify-content: center;" href ng-click='addMode=null'>

                      <i class="fa fa-arrow-left" style="margin-top: 2px; margin-right: 5px;"></i>
                      Cancel
                    </button>
                  </div>

                </div>


              </div>

            </div>

          </div>

        </div>
      </div>


    </div>


  </div>

  <div>
    <div class="tf-button-block" style="display:flex; min-width: 850px; justify-content: space-between;">

      <div style="display:flex">
        <transfer-function-editor-buttons></transfer-function-editor-buttons>
      </div>

      <div style="display:flex">

        <button type="button" ng-class="{'tf-apply-changes-dirty':transferFunction.dirty}" class="btn btn-default btn-md"
          ng-click="apply()" ng-disabled="!transferFunction.dirty || (stateService.currentState === STATE.INITIALIZED) || stateService.statePending"
          v-busy="transferFunction.dirty && stateService.statePending" v-busy-label="Applying changes" v-pressable style="display:flex;margin-right:10px;">
          <i class="glyphicon glyphicon-ok-circle" ng-class="{'tf-apply-changes-dirty':transferFunction.dirty}" style="font-size: 15px; padding-right: 6px; padding-top: 1px;"></i>
          <span> Apply</span>
        </button>

        <button type="button" ng-class="{'tf-apply-changes-dirty':nTransferFunctionDirty}" class="btn btn-default btn-md"
          ng-click="applyAllDirtyScripts()" ng-disabled="!nTransferFunctionDirty || (stateService.currentState === STATE.INITIALIZED) || stateService.statePending"
          v-busy="nTransferFunctionDirty && stateService.statePending" v-busy-label="Applying changes" v-pressable style="display:flex">
          <i class="glyphicon glyphicon-ok-circle" ng-class="{'tf-apply-changes-dirty':nTransferFunctionDirty}" style="font-size: 15px; padding-right: 6px; padding-top: 1px;"></i>
          <span> Apply All</span>
        </button>

      </div>

    </div>



  </div>

</div>
