/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

.graphical-editor-tf-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  min-height: 394px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.tf-title {
  font-size: 16px;
  margin-top: 2px;
}

.populationCheckBox {
  color: black;
  font-size: 12px;
  margin-left: 10px;
}

.tfNotSelected {
  color: black;
  font-size: 14px;
}

.tfSelected {
  color: black;
  background-color: #ddecf9;
  font-size: 14px;
}

.tfNameDeactivated {
  color: rgb(117, 117, 117);
}

.centerPanelTabDeactivated {
  color: rgb(117, 117, 117);
}

.tfDirty {
  font-weight: 600;
}

.notSelected {
  color: black;
  font-size: 13px;
}

.selected {
  color: black;
  background-color: #ddecf9;
  font-size: 13px;
}

.normal {
  flex: 1;
  min-width: 180px;
  padding-right: 15px;
  padding-left: 15px;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  background: white;
}

.normal.selected {
  flex: 2;
  min-width: 250px;
}

.normal.ng-hide {
  opacity: 0;
}

.normal.ng-hide-add,
.normal.ng-hide-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

.tf-edit-area {
  display: flex;
  width: 100%;
  min-width: 830px;
  height: calc(100% - 220px);
}

.smallButtonBlock {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.left-panel {
  flex-grow: 0;
  flex-basis: 20%;
  margin-bottom: 10px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.center-panel {
  flex-grow: 3;
  flex-basis: 50%;
  flex-direction: column;
  display: flex;
  margin-bottom: 10px;
}

.right-panel {
  flex-grow: 0;
  flex-basis: 20%;
  margin-left: 20px;
  min-width: 270px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.underlined-tab-area {
  width: 100%;
  display: flex;
}

.underlined-tab {
  font-size: 15px;
  color: #555555;
  margin-right: 15px;
  margin-bottom: 0px;
}

.underlined-tab-selected {
  color: #337ab7;
}

.underlined-box {
  background: #337ab7;
  width: 100%;
  height: 3px;
}

.tf-parameter-title {
  font-size: 12px;
  margin-bottom: 0px;
}

.tf-parameter-subtitle-pubinfo {
  margin-left: 13px;
  margin-right: 3px;
  font-size: 13px;
  margin-top: 5px;
  color: #616161;
}

.tf-var-block-bottom-area {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 5px;
}

.tf-param-title-background-disabled {
  background: #f3f3f3;
}

.tf-param-title-background-populations {
  background: #fffddb;
}

.tf-param-title-background-populations-sub {
  background: #fffef1;
}

.tf-param-title-background-populations-sub:hover {
  background: #f1eea9;
}

.tf-param-title-background-neurons {
  background: #fff1f8;
}

.tf-param-title-background.tf-param-title-background-neurons:hover {
  background: #f9e4ee;
}

.tf-param-title-background-topics {
  background: #f0fcff;
}

.tf-param-title-background.tf-param-title-background-topics:hover {
  background: #c5e3e9;
}

.tf-param-title-background-variables {
  background: #f9ffe8;
}

.tf-param-title-background.tf-param-title-background-variables:hover {
  background: #e6f3c6;
}

.tf-param-remove-tag-button {
  margin: 4px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 4px;
}

.tf-param-varblock {
  font-size: 12px;
  width: 100%;
  padding: 10px;
  padding-right: 10px;
}

.tf-param-tag-edit-block {
  background: #f7f7f7;
  padding: 10px;
}
.tf-param-varblock-label {
  margin-top: 10px;
  margin-bottom: 1px;
}

.tf-parameter-subtitle {
  font-size: 11px;
  color: #616161;
  user-select: text;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.tf-param-title-block {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 2px;
  padding-top: 2px;
}

.tf-parameter-section-title {
  text-align: left;
  font-size: 13px;
  padding-top: 2px;
}

.tf-parameter-caret {
  margin-right: 7px;
  margin-top: 2px;
}

.very-small-button {
  font-size: 12px;
  padding: 6px;
  min-width: 111px;
  padding: 2px;
}

.small-button {
  font-size: 12px;
  padding: 6px;
  min-width: 111px;
}

.parameter-small-button-label {
  margin-left: 5px;
  font-size: 12px;
  min-width: 111px;
}

.tf-ed-header {
  overflow: auto;
  flex-shrink: 0;
}

.tf-box {
  height: 100%;
  border: 1px solid #dddddd;
}

.tf-content-box {
  height: 100%;
  padding-left: 20px;
  flex-direction: column;
  display: flex;
}

.tf-title-box {
  display: flex;
  justify-content: space-between;
}

.tf-small-icon-button-param {
  margin-bottom: 2px;
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
}

.tf-small-icon-button {
  margin-bottom: 4px;
  font-size: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

.CodeMirror {
  height: 100%;
}

.tf-button-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 6px;
}

.tf-param-title-background {
  display: flex;
  padding-left: 7px;
  cursor: pointer;
}

.tf-param-border {
  width: 100%;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.tf-param-section-box {
  margin-bottom: 10px;
  list-style-type: none;
  border-top-color: rgb(230, 230, 230);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  box-shadow: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.tf-population-param {
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

  border-bottom-color: #efefef;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.tf-hint-small-help-block {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
  border: 1px solid;
  border-radius: 8px;
  border-color: #f3f3f3;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 12px;
  display: flex;
}

.tf-apply-changes-dirty {
  color: #159fc1;
  animation: colorblink 2s infinite;
}
@keyframes colorblink {
  0% {
  }
  50% {
    color: #0c4e58;
  }
}
