<div class="pynn-editor-widget" ng-keydown="suppressKeyPress($event)">
  <!-- build:css(.tmp) components/editors/brain-editor/pynn-editor.style.css -->
  <link rel="stylesheet" href="components/editors/brain-editor/pynn-editor.style.css" />
  <!-- endbuild -->
  <h3>PyNN Brain Editor</h3>
  <div class="alert alert-info">
    <p>
      Network scripts use <a target="_blank" href="http://neuralensemble.org/PyNN/"><b>PyNN</b></a> API
      for loading a network in the simulation. Browse our <a target="_blank" href="{{platformDocumentationURL}}/nrp/user_manual/simulation_setup/hard_reset.html">
      <b>User Manual</b></a> to see how a neural network can be changed at run time.
    </p>
  </div>
  <div ng-show="pynnScript === undefined" class="alert alert-info" role="alert">
    There is no PyNN script available for this experiment.
  </div>
  <div ng-show="pynnScript !== undefined">
    <p>Populations (set of neurons indices) can be defined here and referred to in transfer functions:
    </p>
    <form name="populationForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3">Neuron indices</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="singlePopulation" ng-repeat="(index, population) in populations" ng-form="singlePopulationForm">
            <td>
              <input type="text" size="25" owner-only ng-model="population.name" ng-focus="onFocusChange(index);" ng-change="onPynnChange()" ng-change="updateRegexPatterns();"
                ng-pattern="population.regex" required>
            </td>
            <td ng-if-start="isSlice(population)">
              <div class="fixed-sized">
                <label>from</label>
                <input size="5" type="number" owner-only class="neuron-index-field" ng-model="population.from" min="0" required ng-change="onPynnChange()">
              </div>
            </td>
            <td>
              <label>to</label>
              <input size="5" type="number" owner-only class="neuron-index-field" ng-model="population.to" min="1" required ng-change="onPynnChange()">
            </td>
            <td ng-if-end>
              <label>step</label>
              <input size="5" type="number" owner-only class="neuron-index-field" ng-model="population.step" min="1" required ng-change="onPynnChange()">
            </td>
            <td ng-if="!isSlice(population)" colspan="3">
              <input size="40" type="text" owner-only ng-model="population.list" ng-change="onPynnChange()" ng-pattern="/^\s*\d+\s*(\,\s*\d+\s*)*$/"
                required>
            </td>
            <td>
              <button type="button" owner-only class="btn btn-default btn-md" ng-disabled="!singlePopulationForm.$valid" ng-click="deletePopulation(index);">
              <i class="glyphicon glyphicon-remove"></i><span> Delete</span>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-include src="'components/editors/brain-editor/pynn-editor-buttons.template.html'"></div>
    </form>
    <hr>
    <h4>PyNN Brain</h4>
    <button class="btn btn-default btn-md" owner-only ng-click="download()">
     <i class="glyphicon glyphicon-download"></i><span> Download</span>
    </button>
    <button class="btn btn-default btn-md" owner-only type="file" ngf-select="uploadFile($file)" accept=".py">
      <i class="glyphicon glyphicon-upload"></i><span> Upload</span>
    </button>
    <hr>
    <div id="pynnEditor" ui-codemirror ui-codemirror-opts="editorOptions"
         ng-model="pynnScript.code"
         ui-refresh="pynnScript.code">
    </div>
    <div ng-repeat="(type, error) in pynnScript.error">
     <div class="alert alert-danger" role="alert">
      {{error.message}} <b>({{type}})</b>
     </div>
    </div>
    <hr>
    <div  style="padding-bottom: 30px;">
      <button type="button" class="btn btn-default btn-md"
              owner-only
              ng-click="apply(0)"
              ng-disabled="loading || stateService.statePending || !populationForm.$valid || !localBrainDirty"
              v-busy="loading || stateService.statePending"
              v-busy-label="Applying changes"
              v-pressable>
        <i class="glyphicon glyphicon-ok-circle" aria-hidden="true"></i>
        <span> Apply</span>
      </button>
    </div>
  </div>
</div>
