<div class="container-with-navbar-margin">
    <div class="list-container">
        <button type="button" class="close" ng-click="destroyDialog()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <div class="list-entry-container left-right title-line">
            <div class="h3">Choose {{entityName}}
            </div>
        </div>
        <hr>
        <!-- button group div -->
        <!-- Public env library button -->
        <button class="btn btn-block" ng-click="uploadEntity('PublicEnv')" ng-disabled="pageState.startingExperiment == true">
                  From the template models library
            </button>
        <br>
        <!--Private Library button -->
        <button class="btn btn-block" ng-click="uploadEntity('PrivateStorage')" ng-disabled="pageState.startingExperiment == true">
                  From your private storage
            </button>
        <br>
        <!-- Local environment , i.e. file system button -->
        <button class="btn btn-block" ng-click="uploadFileClick(entityName)" ng-disabled="pageState.startingExperiment == true">
                  Upload from your computer
            </button>
        <br>
        <br>
        <!-- close button -->
        <div align="right">
            <button class="btn btn-default enable-tooltip" ng-click="destroyDialog()">Cancel</button>
        </div>
        <br>
    </div>
</div>