<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->
<div class="container-with-navbar-margin">
    <div class="list-container">
        <button type="button" class="close" ng-click="destroyDialog()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <div class="form-group form-inline col-xs-12">
            <input ng-model="query" type="text" class="top-buttons form-control input-sm" placeholder="{{entityName}} Filter...">
            <div ng-show="!entities">
                <i class="fa fa-2x fa-spinner fa-spin"></i>&nbsp; <i>Loading {{entityName}} list...</i>
            </div>
        </div>
        <hr class="list-separator">
        <div class="no-experiment-msg" ng-hide="entities.length > 0">
            No models available...
            <hr class="list-separator" style="margin-left: -18px">
          </div>
        <div ng-repeat="entity in entities | filter: query | filter: maturity: 'maturity'" class="experiment-box" ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" ng-mouseup="isHovered = false" ng-click="selectEntity(entity)">
            <div class="list-entry-container left-right" ng-show="entity.thumbnail!==''" ng-class="{selected: (entity.path == entityPageState.selected.path) || isHovered}">
                <div class="list-entry-left" ng-class="{selected: entity.path == entityPageState.selected.path}">
                    <img ng-if="!entity.thumbnail && (entityName == 'Robot' || entityName == 'Robots')" class="entity-thumbnail" src="img/esv/robotbody.png"/>
                    <img ng-if="!entity.thumbnail && (entityName == 'Environments' || entityName == 'Environment')" class="entity-thumbnail" src="img/esv/environment.png"/>
                    <img ng-if="!entity.thumbnail && (entityName == 'Brain' || entityName == 'Brains')" class="entity-thumbnail" src="img/esv/brain.png"/>
                    <img ng-if="entity.thumbnail" class="entity-thumbnail" ng-src="{{entity.thumbnail}}"/>
                </div>
                <div class="list-entry-middle list-entry-container up-down">
                    <div class="list-entry-container left-right title-line">
                        <div class="h4" ng-hide="!loadingEdit && editing[nameID] && isPrivateExperiment">{{entity.name}}
                        </div>
                    </div>
                    <div ng-if="entity.path == entityPageState.selected.path" ng-show="!isPrivateExperiment || config.canCloneExperiments">{{entity.description}}</div>
                    <div ng-if="entity.path != entityPageState.selected.path">{{entity.description | limitTo: 200}}...</div>
                    <div ng-if="entity.path == entityPageState.selected.path && (entityName == 'Robot'|| entityName == 'Robots') && entity.configpath">
                        <a class="robot-doc-link" href="#/robot-doc?config={{entity.configpath}}" target="_blank">Documentation</a>
                    </div>
                </div>
            </div>
            <hr class="list-separator">
        </div>
    </div>
    <div align="right">
        <button class="btn btn-default enable-tooltip" ng-click="completeUploadEntity(entityPageState.selected)" ng-disabled="!entityPageState.selected">OK</button>
        <button class="btn btn-default enable-tooltip" ng-click="destroyDialog()" style="margin-right:20px;">Cancel</button>
    </div>
    <br>
</div>