/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/
/* Experiment Simulation Viewer */

/* http://stackoverflow.com/questions/26895349/how-can-i-get-ff-33-x-flexbox-behavior-in-ff-34-x */
* {
  min-height: 0;
}
* {
  min-width: 0;
}

environment-rendering {
  height: 100%;
}

.gz3d-container {
  position: relative;
  height: 100%;

  .gz3d-webgl {
    height: 100%;
  }

  .view-options {
    position: absolute;
    left: 10px;
    top: 10px;

    .options-icon {
      cursor: pointer;
      display: inline;
      padding: 0 3px;
      color: rgba(0, 0, 0, 0.5);
    }

    .options-icon-enabled {
      color: #000;
    }

    .options-panel-info-area {
      padding: 10px 0px;

      .view-info-text {
        font-weight: bold;
        text-shadow: white 0 0 5px, white 0 0 5px, white 0 0 5px;
      }
    }
  }
}

.camera-server-stream-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.keyboard-control-info {
  position: absolute;
  top: 100px;
  right: 50px;
  background: rgba(255, 255, 255, 0.8);
  background-image: url('../../img/esv/keyboard-control.svg');
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 175px;
  border-radius: 8px;
  border-color: black;
  border: 2px solid;
  transition: 0.5s linear all;
  opacity: 1;
}

.keyboard-control-info.ng-hide {
  opacity: 0;
}

.human-navigation-info {
  position: absolute;
  bottom: 100px;
  right: 50px;
  background: rgba(255, 255, 255, 0.8);
  width: 400px;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  border-color: black;
  border: 2px solid;
  transition: 0.5s linear all;
  opacity: 1;
  text-align: center;
}

.human-navigation-info.ng-hide {
  opacity: 0;
}

.help-icon {
  color: darkgray;
  position: fixed;
  top: 60px;
  right: 10px;
}

.help-icon-inner {
  color: white;
  position: fixed;
  top: 67px;
  right: 25px;
}

.fa-question-circle.active,
.fa-question-circle.active:hover {
  color: #006400;
}

.fa-info-circle.active,
.fa-info-circle.active:hover {
  color: #116194;
}

.vertcenter {
  line-height: 42px;
  vertical-align: middle;
}

.hide-overflow {
  overflow: hidden;
}

.nrp-versions {
  position: fixed;
  top: 140px;
  right: 10px;
  color: white;
}

.borderless td,
.borderless th {
  border: none !important;
}

.table-compact td,
.table-compact th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.panels {
  opacity: 0.95;
}

.dimming.open {
  opacity: 0.2 !important;
}

.environment-thumbnail {
  border: 0 none;
  box-shadow: none;
  width: 80px;
}

.disabled-image {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  pointer-events: none;
}

.disabled-image-with-events {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  cursor: default;
}

.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60); /* msie */
  cursor: help;
  pointer-events: none;
}

.missed-console-badge {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 7px;
  height: 14px;
  width: 14px;
  background-color: orangered;
  font-size: 12px;
  line-height: 14px;
  color: white;

  transition-property: box-shadow, transform;
  transition-duration: 300ms;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  box-shadow: 0px 0px 0px 0px red;

  &[class*='-add-active'] {
    transition-duration: 100ms, 0s;
    box-shadow: 0px 0px 1px 2px red;
  }
  &[class*='-add-active'].missed-console-number-false {
    transform: rotate(180deg);
  }
  &.missed-console-number-false {
    line-height: 8px;
  }
}

.camera-view-window {
  min-width: 150px;
  border: 2px solid black;
}
