<style>
  body { text-align: center; }
  .logo{width: 650px; transform: translate(-10px);margin-bottom:120px;}
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<img class="logo" src="img/common/NRPBlW-classic.png"/>

<article>
    <h1>We&rsquo;ll be back soon!</h1>
    <div>
        <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. For more information, please visit us on our <a href="http://neurorobotics.net/">website</a>. We&rsquo;ll be back online shortly!</p>
        <p>&mdash; The HBP Neurorobotics team</p>
    </div>
</article>

