/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/
@import '../../styles/esv/pop-over-viewer';

$objectInspectorMinWidth: 280px;
$objectInspectorMinHeight: 40px;

object-inspector {
  display: flex;
  flex-direction: column;
}

.object-inspector-widget {
  display: flex;
  flex-direction: column;

  margin: 0px 0px 5px 5px;
  width: $objectInspectorMinWidth;
}

.robot-doc-link {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  //align-items: center;
  flex-shrink: 0;

  #window-buttons {
    user-select: none;
  }
}

#sections {
}

#minimal-view {
  width: 100%;
  padding: 5px 0px 0px 5px;
  margin: 0px;
}

.selected-object-name {
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
}

.sections-list {
  position: relative;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
  padding-right: 10px;

  .section-item {
    display: block;
    border-bottom: thin solid black;
    margin: 0px;
    padding: 5px;

    .sub-sections-list {
      list-style-type: none;
      padding: 0px;

      .sub-section-item {
        display: block;
        padding: 2px;
      }
    }
  }
}

.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  user-select: none;

  .inline-listitem {
    display: inline;
  }

  .inline-spaced {
    margin: 0px 15px 0px 15px;
  }
}

.collapse-element {
  margin-left: 5px;
  user-select: none;
  cursor: pointer;
}

.oi-input-field-caption {
  display: inline;
  margin-left: 26px;
}

.oi-input-field {
  max-width: 60px;
  margin-left: 10px;
}

.vec3-num-input-list {
  list-style-type: none;
  margin-left: 0%;
  padding: 0px;

  .vec3-num-input-item {
    display: inline;

    .vec3-num-input {
      min-width: 50px;
      width: 70px;
    }

    #oi-translate-x {
      border-bottom: 2px solid red;
    }

    #oi-translate-y {
      border-bottom: 2px solid green;
    }

    #oi-translate-z {
      border-bottom: 2px solid blue;
    }

    #oi-scale-x {
      border-bottom: 2px solid red;
    }

    #oi-scale-y {
      border-bottom: 2px solid green;
    }

    #oi-scale-z {
      border-bottom: 2px solid blue;
    }

    #oi-rot-euler-x {
      border-bottom: 2px solid red;
    }

    #oi-rot-euler-y {
      border-bottom: 2px solid green;
    }

    #oi-rot-euler-z {
      border-bottom: 2px solid blue;
    }
  }
}

.input-list {
  list-style: none;

  .input-listitem {
    margin-left: 5px;
  }
}

.input-radio-checkbox {
  padding: 0px 5px 0px 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-minimize {
  min-width: 25px;
  min-height: 25px;
  padding: 5px;
  margin-right: 10px;
  align-self: center;
  font-size: 10px;
}

.btn-rounded {
  box-shadow: inset -2px -2px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn-rounded:active,
.btn-rounded.active {
  box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

very-small-button {
  font-size: 11px;
  padding: 6px;
  padding: 2px;
  min-width: 130px;
}

.btn-degrees {
  min-height: 28px;
  margin-right: 14px;
  min-width: 48px;
  font-weight: normal;
  font-size: 11.4px;
  margin-top: 8px;
  padding: 4px;
  position: absolute;
  left: 221px;
  top: -35px;
}
