<!-- build:css(.tmp) components/application-top-toolbar/application-top-toolbar.style.css -->
<link rel="stylesheet" href="components/application-top-toolbar/application-top-toolbar.style.css">
<!-- endbuild -->

<div class="application-top-toolbar-wrapper">
  <md-toolbar class="md-hue-1 md-background application-top-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" ng-disabled="true">
        <md-icon ng-bind="'menu'"></md-icon>
      </md-button>
      <md-divider class="vertical-divider" ng-show="vm.experimentViewService.isInSimulationView()"></md-divider>
      <md-button class="md-icon-button" aria-label="Exit" help-tooltip="EXIT_BUTTON"
                ng-show="vm.experimentViewService.isInSimulationView()"
                 ng-click="vm.onButtonExit()">
        <md-icon ng-bind="'exit_to_app'" class="att-md-icon-size"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Reset" help-tooltip="RESET_BUTTON"
                 ng-show="vm.experimentViewService.isInSimulationView()"
                 ng-click="vm.onButtonReset()">
        <md-icon ng-bind="'replay'"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Play" help-tooltip="PLAY_BUTTON"
                 ng-show="vm.experimentViewService.isInSimulationView() && vm.stateService.currentState === vm.STATE.PAUSED"
                 ng-if="vm.allowPlayPause()"
                 ng-disabled="vm.stateService.statePending" ng-click="vm.onButtonSetSimulationState(vm.STATE.STARTED)">
        <md-icon ng-bind="'play_arrow'"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Pause" help-tooltip="PAUSE_BUTTON"
                 ng-show="vm.experimentViewService.isInSimulationView() && vm.stateService.currentState === vm.STATE.STARTED"
                 ng-if="vm.allowPlayPause()"
                 ng-disabled="vm.stateService.statePending" ng-click="vm.onButtonSetSimulationState(vm.STATE.PAUSED)">
        <md-icon ng-bind="'pause'"></md-icon>
      </md-button>

      <div flex md-truncate class="application-top-toolbar-section-middle">
        <div class="application-top-toolbar-title">
          <h2 ng-show="!vm.experimentViewService.isInSimulationView()">Experiment Overview</h2>
          <experiment-name ng-show="vm.experimentViewService.isInSimulationView()"></experiment-name>
        </div>
      </div>

      <div class="application-top-toolbar-section-right">
        <md-menu>
          <md-button class="md-icon-button" aria-label="Profile"
                     ng-click="vm.openMenu($mdMenu, $event)">
            <md-icon ng-bind="'account_circle'"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="vm.onButtonLogout()">
                <div layout="row" flex>
                  <p flex>Logout</p>
                  <i class="fa fa-2x fa-sign-out"></i>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
  </md-toolbar>
</div>
